@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



:root {
  --primary-color: #06001e;
  --secondary-color: #bbabda;
  --third-color: #b5d6ff;
  --fourth-color: #c6f6bd;
  --dark-color: #040a29;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white; 
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
}

.navbar a:hover {
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #c6f6bd 33%, #c6f6bd 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  background-size: 33%;
  background-clip: text;
}

.navbar .flex {
  justify-content: space-between;
}

/* Home */
.home .grid{
  grid-template-columns: 85% 0%;
  gap: 30px;
}

.home .container{
  overflow: visible;
}

.home-gradient-text{
   color:transparent;
   background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #c6f6bd 33%, #c6f6bd 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
   background-size: 33%;
   background-clip: text;
}

.home p{
  color: #BDABBA;
}

.home h1{
  font-size: 25vmin;
  line-height: 20vmin;
  padding-bottom: 40px;
}

.home-text{
  margin-top: 100px;
}

.home h1:hover{
  cursor: pointer;
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0%{
    background-size: 50%;
    background-position: 0 0;
  }
  50% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -3em;
  }
}

@keyframes expand-rev {
  0%{
    background-size: 325%;
    background-position: -10em -4em;
  }
  50%{
    background-size: 55%;
    background-position: 0 1em;
  }
  100%{
    background-size: 50%;
    background-position: 0 0;
  }
}


/* Contact */
.contact {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.contact h1{
  font-size: 40px;
}

.contact p {
  margin: 20px 0;
}

.contact .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.contact-text {
  animation: slideInFromLeft 1s ease-in;
}

.contact .btn-delete:hover{
  color: red
}

.contact-form {
  position: relative;
  top: 60px;
  height: 420px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.contact-form .form-control {
  margin: 30px 0;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.contact-form input:focus {
  outline: none;
}

/* gap */
.gap {
  padding-top: 140px;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Portfolio */
.portfolio-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.portfolio-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

 /* Tecnology */
 .tecnology .container {
  overflow: visible;
 }

 .tecnology .grid {
  overflow: visible;
  grid-template-columns: 50% auto;
  gap: 10px;
}

.tecnology li{
  list-style-type:disc;
}

.project .container{
  overflow:visible;
}

.project .card a:hover{
  font-weight: bold;
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #c6f6bd 33%, #c6f6bd 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  background-size: 20%;
  background-clip: text;
}
 
 
/* About */
.about-main h3 {
  margin: 20px 0;
}

.about-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.about-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.about-main a:hover {
  font-weight: bold;
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #c6f6bd 33%, #c6f6bd 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  background-size: 33%;
  background-clip: text;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
}

.footer .gradient-text a{
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #c6f6bd 33%, #c6f6bd 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  background-size: 47%;
  background-clip: text;  
}

.fa-github:hover {
  color: #000000;
}

.fa-facebook:hover {
  color: #1773EA;
}

.fa-instagram:hover {
  color: #B32E87;
}

.fa-twitter:hover {
  color: #1C9CEA;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .home .grid, 
  .contact .grid,
  .about .grid,
  .portfolio-main,
  .portfolio .grid,
  .about-main .grid,
  .about-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .contact {
    height: auto;
  }

  .contact-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .contact-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .portfolio-head,
  .portfolio-sub-head,
  .about-head {
    text-align: center;
  }

  .portfolio-head img,
  .porfolio-sub-head img,
  .about-head img {
    justify-self: center;
  }

  .portfolio-main .grid > *:first-child,
  .portfolio-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .col{
    width: 400px;
    flex-direction: column;
  }

  video{
    width: 350px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .home-text h1{
    font-size: 70px;
  }

  .languages h2{
    font-size: 30px;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    width: 300px;
  }
  
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
